!!!
%html
  %head
    = render partial: 'layouts/header'
  %body{class: "#{controller_name} #{action_name}"}
    = render partial: 'layouts/top_nav'
    .subnav.subnav-fixed
    .container
      .content
        .row
          .span12
            = render 'layouts/messages'
            = yield

      = render partial: 'layouts/footer'
